* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background: rgb(66, 65, 80);
    color: rgb(209, 187, 187);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 2rem 1rem 4rem 1rem;
}

header {
    margin: 5rem 1rem 5rem 1rem;
    text-align: center;
}

.buttons_Section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    border-radius: 9%;
}

.rock {
    margin: 2rem;
    padding: 0.1rem;
    background-color: rgb(66, 65, 80);
    border-radius: 9%;
}

.paper {
    margin: 2rem;
    padding: 0.1rem;
    background-color: rgb(66, 65, 80);
    border-radius: 9%;
}

.scissors {
    margin: 2rem;
    padding: 0.1rem;
    background-color: rgb(66, 65, 80);
    border-radius: 9%;
}

.scoreBox {
    margin: 1rem;
    padding: 2rem 6rem;
    border: solid rgb(48, 45, 45);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scoreSection {
    /*cuadrito donde se ven los puntos*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userName_Div {
    /*cuadrito donde dice el nombre del usuario*/
    margin: 3rem;
    padding: 1rem;
    border-radius: 8%;
    background-color: brown;
}

.computer_Div {
    /*cuadrito donde dice Computer*/
    margin: 3rem;
    padding: 1rem;
    border-radius: 8%;
    background-color: brown;
}



.bottomMessage_Section{
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seeGameButton_Section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seeGame_Button {
    /*boton Ver Partida*/
    color: rgb(48, 45, 45);
    width: 100px;
    height: 40px;
    margin: 1rem;
    border-radius: 8%;
    background-color: rgb(216, 92, 43);
    border-color: rgb(216, 92, 43);
    font-weight: bold;
    text-transform: uppercase;   
}



footer {
    padding: 5rem 1rem;
    text-align: center;
}